name: Secure S3 Upload
on:
  push:
    branches:
      - main

jobs:
  upload:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::470342886994:role/github-actions # Replace with your Role ARN
          aws-region: ap-south-1

      # Pulling keys from AWS Secrets Manager
      - name: Fetch Secrets from AWS
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            arn:aws:secretsmanager:ap-south-1:470342886994:secret:github-actions-h2SU86
          parse-json-secrets: true

      - name: Verify Secret Presence
        run: |
          if [ -n "$GITHUB_ACTIONS_AWS_ACCESS_KEY" ]; then
            echo "Secrets successfully fetched from AWS Secrets Manager!"
          else
            echo "Secrets were NOT found."
            exit 1
          fi


      - name: Upload File to S3
        run: |
          aws s3 cp ./code.py s3://github-actions-tutorial9/
        # env:
        #   # These variables are created automatically from your Secret Keys
        #   AWS_ACCESS_KEY_ID: ${{ env.GITHUB_ACTIONS_AWS_ACCESS_KEY }}
        #   AWS_SECRET_ACCESS_KEY: ${{ env.GITHUB_ACTIONS_AWS_SECRET_ACCESS_KEY }}
        #   AWS_DEFAULT_REGION: ap-south-1
